@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root{
    --background: linear-gradient(135deg, #667eea7a 0%, #764ba298 100%);
    --color-primary:#667eea;
    --color-secondary:#764ba2;
    --boton-padding: 20px 40px;

}

body{
    font-family: 'Raleway', sans-serif; 
}

.contenedor{
    width:  90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0 ;
    max-width: 1200px;
}

.subtitulo{

    color: var(--color-primary);
    font-size: 2,5rem;
    margin-bottom: 35px;

}

.cabeza{
    height: 100vh;
    background-image: var(--background), url('../img/imagenyo.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;

}

.cabeza .contenedor{
    padding: 0;
}

.navegacion{
    display: flex;
    justify-content:  flex-end;
    height: 70px;
    align-items: center;
    font-weight: 700;
}

.nav--footer{
    font-weight: 300;
    justify-content: flex-start;
}

.nav_items{
    color: #fff;
    text-decoration:none;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: inherit;
}

.nav__items--footer{
    padding: 10px;
}

.cabeza_container{
    display: flex;
    height: calc(100vh - 70px);
    align-items: center ;
    color: #fff;

}

.cabeza_textos{
    width: 80%;
    margin-bottom: 50px;
}

.cabeza_titulo{
    font-size: 3.2rem;
}

.cabeza_subtitulo{
    font-size: 2rem;
    font-weight: 300;
    margin: 15px 0;
}

.cabeza_cta{
    display: inline-block;
    background: #fff;
    padding: var(--boton-padding);
    color: var(--color-primary);
    text-decoration: none;
    border-radius: 40px;



}

.cabeza_wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}


/*About*/

.presentacion{
    padding-top: 0;
    text-align: center;
}

.iamgen-yop{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: top;
}

.presentacion_prf{
   width: 80%;
   margin: 0 auto; 
}

.presentacion_cta{
    display: inline-block;
    margin-top: 30px;
    background: var(--color-primary);
    color: #fff;
    text-decoration: none;
    padding: var(--boton-padding);
    border-radius: 40px;

}

.sobremi{
  min-height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;  
  row-gap: 80px;
  justify-items: center;
  align-items: center;
}

.sobremi__img{
    text-align: center;

}

.sobremi__img--left{
    text-align: left;
}

.sobremi__picture{
    max-width: 80%;
}

.sobremi__parrafo{
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 300;


}

/*proyectos*/

.proyectos{
    background: #dddcdcf2;
}

.grid__proyectos{
    display: grid;
    height: 550px;
    grid-template-areas: "img1 img1 img2 img3"
    "img1 img1 img4 img5";
}



